## Do necessary Imports

In [2]:
import pandas as pd
import numpy as np

## Create a Data Frame

In [13]:
N=20
df = pd.DataFrame({
   'Date': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'LineNum': np.linspace(0,stop=N-1,num=N),
   'Fraction': np.random.rand(N),
   'RandFromSet': np.random.choice(['Low','Medium','High'],N).tolist(),
   'RandFromRange': np.random.normal(100, 10, size=(N)).tolist()
   })
df.head(20)

         Date  LineNum  Fraction RandFromSet  RandFromRange
0  2016-01-01      0.0  0.614858      Medium      98.880665
1  2016-01-02      1.0  0.406977      Medium      91.617012
2  2016-01-03      2.0  0.149759         Low     109.738280
3  2016-01-04      3.0  0.082853      Medium      96.596445
4  2016-01-05      4.0  0.122917         Low      90.605156
5  2016-01-06      5.0  0.004921        High      93.007168
6  2016-01-07      6.0  0.960990        High     115.930788
7  2016-01-08      7.0  0.031417         Low      89.161239
8  2016-01-09      8.0  0.876034      Medium      97.684087
9  2016-01-10      9.0  0.243654        High      84.375190
10 2016-01-11     10.0  0.531119        High     105.314763
11 2016-01-12     11.0  0.297200      Medium      83.578135
12 2016-01-13     12.0  0.935808         Low      91.738913
13 2016-01-14     13.0  0.402606        High      98.378559
14 2016-01-15     14.0  0.378394        High     112.558636
15 2016-01-16     15.0  0.234215        High     106.784976
16 2016-01-17     16.0  0.523954        High      99.647845
17 2016-01-18     17.0  0.150829      Medium     102.700688
18 2016-01-19     18.0  0.270888      Medium     112.438459
19 2016-01-20     19.0  0.728010        High      99.350365

## Iterate Column names

In [14]:
for colNms in df:
    print(colNms)

Date
LineNum
Fraction
RandFromSet
RandFromRange

## The iteritems() to iterate all values column wise.

In [15]:
for col, value in df.iteritems() :
    print('Column: ', col)
    print(value)
    print('----------------------')

Column:  Date
0    2016-01-01
1    2016-01-02
2    2016-01-03
3    2016-01-04
4    2016-01-05
5    2016-01-06
6    2016-01-07
7    2016-01-08
8    2016-01-09
9    2016-01-10
10   2016-01-11
11   2016-01-12
12   2016-01-13
13   2016-01-14
14   2016-01-15
15   2016-01-16
16   2016-01-17
17   2016-01-18
18   2016-01-19
19   2016-01-20
Name: Date, dtype: datetime64[ns]
----------------------
Column:  LineNum
0      0.0
1      1.0
2      2.0
3      3.0
4      4.0
5      5.0
6      6.0
7      7.0
8      8.0
9      9.0
10    10.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
Name: LineNum, dtype: float64
----------------------
Column:  Fraction
0     0.614858
1     0.406977
2     0.149759
3     0.082853
4     0.122917
5     0.004921
6     0.960990
7     0.031417
8     0.876034
9     0.243654
10    0.531119
11    0.297200
12    0.935808
13    0.402606
14    0.378394
15    0.234215
16    0.523954
17    0.150829
18    0.270888
19    0.728010
Name: Fraction, dtype: float64
----------------------
Column:  RandFromSet
0     Medium
1     Medium
2        Low
3     Medium
4        Low
5       High
6       High
7        Low
8     Medium
9       High
10      High
11    Medium
12       Low
13      High
14      High
15      High
16      High
17    Medium
18    Medium
19      High
Name: RandFromSet, dtype: object
----------------------
Column:  RandFromRange
0      98.880665
1      91.617012
2     109.738280
3      96.596445
4      90.605156
5      93.007168
6     115.930788
7      89.161239
8      97.684087
9      84.375190
10    105.314763
11     83.578135
12     91.738913
13     98.378559
14    112.558636
15    106.784976
16     99.647845
17    102.700688
18    112.438459
19     99.350365
Name: RandFromRange, dtype: float64
----------------------

## The iterrows() to iterate row wise

In [18]:
for row_index,row in df.iterrows():
    print (row_index)
    print(row)
    print('---------------')

0
Date             2016-01-01 00:00:00
LineNum                            0
Fraction                    0.614858
RandFromSet                   Medium
RandFromRange                98.8807
Name: 0, dtype: object
---------------
1
Date             2016-01-02 00:00:00
LineNum                            1
Fraction                    0.406977
RandFromSet                   Medium
RandFromRange                 91.617
Name: 1, dtype: object
---------------
2
Date             2016-01-03 00:00:00
LineNum                            2
Fraction                    0.149759
RandFromSet                      Low
RandFromRange                109.738
Name: 2, dtype: object
---------------
3
Date             2016-01-04 00:00:00
LineNum                            3
Fraction                   0.0828531
RandFromSet                   Medium
RandFromRange                96.5964
Name: 3, dtype: object
---------------
4
Date             2016-01-05 00:00:00
LineNum                            4
Fraction                    0.122917
RandFromSet                      Low
RandFromRange                90.6052
Name: 4, dtype: object
---------------
5
Date             2016-01-06 00:00:00
LineNum                            5
Fraction                  0.00492121
RandFromSet                     High
RandFromRange                93.0072
Name: 5, dtype: object
---------------
6
Date             2016-01-07 00:00:00
LineNum                            6
Fraction                     0.96099
RandFromSet                     High
RandFromRange                115.931
Name: 6, dtype: object
---------------
7
Date             2016-01-08 00:00:00
LineNum                            7
Fraction                   0.0314171
RandFromSet                      Low
RandFromRange                89.1612
Name: 7, dtype: object
---------------
8
Date             2016-01-09 00:00:00
LineNum                            8
Fraction                    0.876034
RandFromSet                   Medium
RandFromRange                97.6841
Name: 8, dtype: object
---------------
9
Date             2016-01-10 00:00:00
LineNum                            9
Fraction                    0.243654
RandFromSet                     High
RandFromRange                84.3752
Name: 9, dtype: object
---------------
10
Date             2016-01-11 00:00:00
LineNum                           10
Fraction                    0.531119
RandFromSet                     High
RandFromRange                105.315
Name: 10, dtype: object
---------------
11
Date             2016-01-12 00:00:00
LineNum                           11
Fraction                      0.2972
RandFromSet                   Medium
RandFromRange                83.5781
Name: 11, dtype: object
---------------
12
Date             2016-01-13 00:00:00
LineNum                           12
Fraction                    0.935808
RandFromSet                      Low
RandFromRange                91.7389
Name: 12, dtype: object
---------------
13
Date             2016-01-14 00:00:00
LineNum                           13
Fraction                    0.402606
RandFromSet                     High
RandFromRange                98.3786
Name: 13, dtype: object
---------------
14
Date             2016-01-15 00:00:00
LineNum                           14
Fraction                    0.378394
RandFromSet                     High
RandFromRange                112.559
Name: 14, dtype: object
---------------
15
Date             2016-01-16 00:00:00
LineNum                           15
Fraction                    0.234215
RandFromSet                     High
RandFromRange                106.785
Name: 15, dtype: object
---------------
16
Date             2016-01-17 00:00:00
LineNum                           16
Fraction                    0.523954
RandFromSet                     High
RandFromRange                99.6478
Name: 16, dtype: object
---------------
17
Date             2016-01-18 00:00:00
LineNum                           17
Fraction                    0.150829
RandFromSet                   Medium
RandFromRange                102.701
Name: 17, dtype: object
---------------
18
Date             2016-01-19 00:00:00
LineNum                           18
Fraction                    0.270888
RandFromSet                   Medium
RandFromRange                112.438
Name: 18, dtype: object
---------------
19
Date             2016-01-20 00:00:00
LineNum                           19
Fraction                     0.72801
RandFromSet                     High
RandFromRange                99.3504
Name: 19, dtype: object
---------------

pandas.core.series.Series

## The itertuples() to iterate DF and return tuples

In [19]:
for rows in df.itertuples():
    print(rows)

Pandas(Index=0, Date=Timestamp('2016-01-01 00:00:00'), LineNum=0.0, Fraction=0.6148584265824895, RandFromSet='Medium', RandFromRange=98.8806653945956)
Pandas(Index=1, Date=Timestamp('2016-01-02 00:00:00'), LineNum=1.0, Fraction=0.4069771832292649, RandFromSet='Medium', RandFromRange=91.6170121148167)
Pandas(Index=2, Date=Timestamp('2016-01-03 00:00:00'), LineNum=2.0, Fraction=0.14975939929152882, RandFromSet='Low', RandFromRange=109.73827976126633)
Pandas(Index=3, Date=Timestamp('2016-01-04 00:00:00'), LineNum=3.0, Fraction=0.08285314945547717, RandFromSet='Medium', RandFromRange=96.59644518433645)
Pandas(Index=4, Date=Timestamp('2016-01-05 00:00:00'), LineNum=4.0, Fraction=0.12291701100790042, RandFromSet='Low', RandFromRange=90.60515579182288)
Pandas(Index=5, Date=Timestamp('2016-01-06 00:00:00'), LineNum=5.0, Fraction=0.004921213007814229, RandFromSet='High', RandFromRange=93.00716812593136)
Pandas(Index=6, Date=Timestamp('2016-01-07 00:00:00'), LineNum=6.0, Fraction=0.9609900085209843, RandFromSet='High', RandFromRange=115.93078758919441)
Pandas(Index=7, Date=Timestamp('2016-01-08 00:00:00'), LineNum=7.0, Fraction=0.031417055762275714, RandFromSet='Low', RandFromRange=89.16123860725604)
Pandas(Index=8, Date=Timestamp('2016-01-09 00:00:00'), LineNum=8.0, Fraction=0.8760344208326922, RandFromSet='Medium', RandFromRange=97.68408683760562)
Pandas(Index=9, Date=Timestamp('2016-01-10 00:00:00'), LineNum=9.0, Fraction=0.24365381748326276, RandFromSet='High', RandFromRange=84.37518995504801)
Pandas(Index=10, Date=Timestamp('2016-01-11 00:00:00'), LineNum=10.0, Fraction=0.5311185770422133, RandFromSet='High', RandFromRange=105.31476255452705)
Pandas(Index=11, Date=Timestamp('2016-01-12 00:00:00'), LineNum=11.0, Fraction=0.2971997469226957, RandFromSet='Medium', RandFromRange=83.57813460558786)
Pandas(Index=12, Date=Timestamp('2016-01-13 00:00:00'), LineNum=12.0, Fraction=0.9358077907434685, RandFromSet='Low', RandFromRange=91.73891310360595)
Pandas(Index=13, Date=Timestamp('2016-01-14 00:00:00'), LineNum=13.0, Fraction=0.40260589774599875, RandFromSet='High', RandFromRange=98.37855924323598)
Pandas(Index=14, Date=Timestamp('2016-01-15 00:00:00'), LineNum=14.0, Fraction=0.3783944175951479, RandFromSet='High', RandFromRange=112.55863556960603)
Pandas(Index=15, Date=Timestamp('2016-01-16 00:00:00'), LineNum=15.0, Fraction=0.2342145234519596, RandFromSet='High', RandFromRange=106.78497604090262)
Pandas(Index=16, Date=Timestamp('2016-01-17 00:00:00'), LineNum=16.0, Fraction=0.52395401680732, RandFromSet='High', RandFromRange=99.64784505728676)
Pandas(Index=17, Date=Timestamp('2016-01-18 00:00:00'), LineNum=17.0, Fraction=0.1508291269061367, RandFromSet='Medium', RandFromRange=102.70068767859715)
Pandas(Index=18, Date=Timestamp('2016-01-19 00:00:00'), LineNum=18.0, Fraction=0.27088799956633414, RandFromSet='Medium', RandFromRange=112.43845914514822)
Pandas(Index=19, Date=Timestamp('2016-01-20 00:00:00'), LineNum=19.0, Fraction=0.7280104785927852, RandFromSet='High', RandFromRange=99.35036512685627)