# Python Pandas Basic Functions
## - *Imports for Pandas*
---
## - *Creating Data Frame*
---
## - Create Data frame from Dictionary of Series
## - Create a Transpose of Data frame
## - Understand nature of Transpose: 
## - The axes functionality: Shows Rows and Column Index ranges.
## - Find the Data Type of each column-The dtype
## - Is Data Frame Empty? The empty
## - Find the Dimention of Object.  It is 2 for Data Frame- The ndim
## - Get Tuple of Dimentions of a Data Frame- The Shape
## - Get total number of elements in Data Frame- the size
## - Get actual data of DF as NDarray
## - Observe first few records.
## - Observe last few records.

## Do necessary Imports

In [2]:
import pandas as pd
import numpy as np

## Create Data Frame from Dictionary of Series

In [5]:
colName = pd.Series(['Tom', 'Jack', 'Steve', 'Ricky', 'Sachin', 'Suresh', 'Ramesh', 'Rashmi'])
colAge  = pd.Series([28,34,29, None, 29,35,30,43])
colBasSal  = pd.Series([5000.0, 5500.0, None, 4000.0, 5001.0, 5501.0, 6001, 4001.0])
colPerks   = pd.Series([500.0, 550.0, 600, 400.0, 501.0, 551.0, 601, 401.0])

#Create a Dictionary of series
dict = {'Name': colName,
   'Age': colAge,
   'BasSalary':colBasSal,
   'Perks' : colPerks
    }

df = pd.DataFrame(dict)

df['TotalSal'] = df['BasSalary'] + df['Perks']
print(df)

     Name   Age  BasSalary  Perks  TotalSal
0     Tom  28.0     5000.0  500.0    5500.0
1    Jack  34.0     5500.0  550.0    6050.0
2   Steve  29.0        NaN  600.0       NaN
3   Ricky   NaN     4000.0  400.0    4400.0
4  Sachin  29.0     5001.0  501.0    5502.0
5  Suresh  35.0     5501.0  551.0    6052.0
6  Ramesh  30.0     6001.0  601.0    6602.0
7  Rashmi  43.0     4001.0  401.0    4402.0

## Create a Transpose

In [7]:
dfT = df.T
print(dfT)

              0     1      2      3       4       5       6       7
Name        Tom  Jack  Steve  Ricky  Sachin  Suresh  Ramesh  Rashmi
Age          28    34     29    NaN      29      35      30      43
BasSalary  5000  5500    NaN   4000    5001    5501    6001    4001
Perks       500   550    600    400     501     551     601     401
TotalSal   5500  6050    NaN   4400    5502    6052    6602    4402

## What is the nature of Transpose?

In [17]:
print("Type of Transpose DF: ", type(dfT))
print("Type of Row: ", type(dfT.loc['Name']))
print("Type of Column: ", type(dfT[0]))
print("Row contents[Name]: \n", dfT.loc['Name'])
print("Column contents: \n", dfT[0])

Type of Transpose DF:  <class 'pandas.core.frame.DataFrame'>
Type of Row:  <class 'pandas.core.series.Series'>
Type of Column:  <class 'pandas.core.series.Series'>
Row contents[Name]:
 0       Tom
1      Jack
2     Steve
3     Ricky
4    Sachin
5    Suresh
6    Ramesh
7    Rashmi
Name: Name, dtype: object
Column contents:
 Name          Tom
Age            28
BasSalary    5000
Perks         500
TotalSal     5500
Name: 0, dtype: object

## View Row Axes and Column Axes Labels

In [18]:
print(df.axes)
print(dfT.axes)

[RangeIndex(start=0, stop=8, step=1), Index(['Name', 'Age', 'BasSalary', 'Perks', 'TotalSal'], dtype='object')]
[Index(['Name', 'Age', 'BasSalary', 'Perks', 'TotalSal'], dtype='object'), RangeIndex(start=0, stop=8, step=1)]

## Find the data type of each column

In [23]:
print("Data Frame: \n", df.dtypes)
print("\nT Dataframe: \n", dfT.dtypes)

Data Frame:
 Name          object
Age          float64
BasSalary    float64
Perks        float64
TotalSal     float64
dtype: object

T Dataframe:
 0    object
1    object
2    object
3    object
4    object
5    object
6    object
7    object
dtype: object

## Is Data Frame empty?

In [24]:
print("Is DF empty? ", df.empty)
print("Is DF_T empty? ", dfT.empty)

Is DF empty?  False
Is T_DF empty?  False

## Print Dimention of the object

In [26]:
print(df.ndim)
print(dfT.ndim)

2
2

## Get the Tuple of dimention of DF

In [27]:
print(df.shape)
print(dfT.shape)

(8, 5)
(5, 8)

## Get the Number of elements in the DF

In [28]:
print(df.size)
print(dfT.size)

40
40

## Get actual data from DF as NDarray

In [29]:
print("Values of Data Frame...")
print(df.values)
print("\nValues of Transposed Data Frame...")
print(dfT.values)

Values of Data Frame...
[['Tom' 28.0 5000.0 500.0 5500.0]
 ['Jack' 34.0 5500.0 550.0 6050.0]
 ['Steve' 29.0 nan 600.0 nan]
 ['Ricky' nan 4000.0 400.0 4400.0]
 ['Sachin' 29.0 5001.0 501.0 5502.0]
 ['Suresh' 35.0 5501.0 551.0 6052.0]
 ['Ramesh' 30.0 6001.0 601.0 6602.0]
 ['Rashmi' 43.0 4001.0 401.0 4402.0]]

Values of Transposed Data Frame...
[['Tom' 'Jack' 'Steve' 'Ricky' 'Sachin' 'Suresh' 'Ramesh' 'Rashmi']
 [28.0 34.0 29.0 nan 29.0 35.0 30.0 43.0]
 [5000.0 5500.0 nan 4000.0 5001.0 5501.0 6001.0 4001.0]
 [500.0 550.0 600.0 400.0 501.0 551.0 601.0 401.0]
 [5500.0 6050.0 nan 4400.0 5502.0 6052.0 6602.0 4402.0]]

## Print beginning N rows...(Default is 5)

In [31]:
df.head(4)

    Name   Age  BasSalary  Perks  TotalSal
0    Tom  28.0     5000.0  500.0    5500.0
1   Jack  34.0     5500.0  550.0    6050.0
2  Steve  29.0        NaN  600.0       NaN
3  Ricky   NaN     4000.0  400.0    4400.0

## Print ending N rows... (Default is 5)

In [32]:
df.tail(4)

     Name   Age  BasSalary  Perks  TotalSal
4  Sachin  29.0     5001.0  501.0    5502.0
5  Suresh  35.0     5501.0  551.0    6052.0
6  Ramesh  30.0     6001.0  601.0    6602.0
7  Rashmi  43.0     4001.0  401.0    4402.0