# Python Pandas Series
## - *Imports for Pandas*
---
## - *Creating Data Frame*
---
## - Create an empty Data frame
## - Create Data frame from List, column and dtype
## - Create Data frame from Dictionary of List
## - Create Data frame from List of Dictionary
## - Create Data frame submitting colum names separately
## - Create Data frame from Dictionary of Series
## - Create Series from List
---
## - *Data Retrival*
## - Retrive data on key
## - Retrive data using for
## - Retrive elements using slicing
## - Retrive multiple elements
## - What if wrong index is given?
---
## - Series Type
## - Series Type after slicing
## - Series Id

## Do necessary Imports

In [1]:
import pandas as pd
import numpy as np

---

## Create Data Frames

### Create Empty Data Frame

In [2]:
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

### Create Dataframe from List

In [4]:
# Note, index is created using range(len(data)-1)
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)

   0
0  1
1  2
2  3
3  4
4  5

### Create Dataframe from List of list with Columns, Index and dtype

In [12]:
# Applies given dtype on all Numerics.  Infer dtype of other columns.
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'], index=[1, 2, 3], dtype=float )
print (df)

     Name   Age
1    Alex  10.0
2     Bob  12.0
3  Clarke  13.0

### Create Dataframe from Dictionary of list

In [15]:
# Note no need to mention column names.
# If index is not given, it uses range()
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=[1, 2, 3, 4], dtype=float)
print (df)

    Name   Age
1    Tom  28.0
2   Jack  34.0
3  Steve  29.0
4  Ricky  42.0

### Create Dataframe from List of Dictionary

In [22]:
# Observe also the NaN for Branch.
# Observe, index can be non-numeric
data = [{'Name': 'Tom', 'Age': 28},{'Name': 'Jack', 'Age': 34}, {'Name': 'Steve', 'Age':29}, {'Name':'Ricky', 'Branch':'Mumbai'}]
idx = ['Ist', 'IInd', 'IIIrd', 'IVth']
df = pd.DataFrame(data, index = idx)
print (df)

        Name   Age  Branch
Ist      Tom  28.0     NaN
IInd    Jack  34.0     NaN
IIIrd  Steve  29.0     NaN
IVth   Ricky   NaN  Mumbai

### Column names override the column names given in the Dictionary

In [25]:
data = [{'Name': 'Tom', 'Age': 28},{'Name': 'Jack', 'Age': 34}, {'Name': 'Steve', 'Age':29}, {'Name':'Ricky', 'Branch':'Mumbai'}]
idx = ['Ist', 'IInd', 'IIIrd', 'IVth']
column = ['NameEmp', 'AgeEmp', 'BranchCompany']
df = pd.DataFrame(data, index = idx, columns = column)
print (df)

       NameEmp  AgeEmp  BranchCompany
Ist        NaN     NaN            NaN
IInd       NaN     NaN            NaN
IIIrd      NaN     NaN            NaN
IVth       NaN     NaN            NaN

### Create Data Frame from Dictionary of Series

In [27]:
nameSeries = pd.Series(['Tom', 'Jack', 'Steve', 'Ricky'])
ageSeries = pd.Series([28,34,29,42])
idxSeries = pd.Series([1, 2, 3, 4])
data = {'Name': nameSeries,'Age': ageSeries}
df = pd.DataFrame(data, index=idxSeries)
print (df)

    Name   Age
1   Jack  34.0
2  Steve  29.0
3  Ricky  42.0
4    NaN   NaN

### List within list is not understood by Data Frame

In [42]:
# Note List within list is not understood.
nameSeries = pd.Series(['Tom', 'Jack', 'Steve', 'Ricky'])
ageSeries = pd.Series([28,34,29,42])
lst = [nameSeries, ageSeries]
colm = ['name', 'age']
df = pd.DataFrame(lst, columns=colm)
print(df)

   name  age
0   NaN  NaN
1   NaN  NaN